* text=auto
*.py text eol=lf
*.json text eol=lf
*.mk text eol=lf
*.sh text eol=lf
*.v text eol=lf
*.tcl text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.log text eol=lf
*.xml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.conf text eol=lf
*.cfg text eol=lf
*.properties text eol=lf
