[submodule "thirdparty/OpenROAD-Flow-Scripts"]
	path = thirdparty/OpenROAD-Flow-Scripts
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
	branch = master
	commit = 84cc887b1f95db17d3c7bdb89b2f95d82f7c5e1e
